body { 
    background-color: coral;
}
.header {    
    background-color: #4CAF50; 
    padding: 10px; 
    display: flex; 
    justify-content: flex-end; 
}
caption{
    margin: 10px; 
    font-size: large;
    
}
.header a {
color: rgb(17, 0, 255); 
text-decoration: none; 
margin-left: 20px; 
}
.header a:hover {
    color: #3498db;
}
.wrapper {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
}
table, th, td{ 
    align-items: center;
    padding: 10px;
    border: 2px solid green;
    border-collapse: collapse;
    background-color: blueviolet;
    margin: 20px;
    width: 50%;;
}
.strochka:hover {
    background-color: aquamarine;
}
.strochka:nth-child(even) {
    background-color: aquamarine;
}